/Part 8 - Deep Learning/Section 32 - Convolutional Neural Networks (CNN)/dataset/*
/Volume 1 - Supervised Deep Learning/Part 2 - Convolutional Neural Networks (CNN)/Section 8 - Building a CNN/dataset/*
